<main>
    <h1>Github repos search</h1>
    <section class="search">
      <!--app-form-component [formUpLink]="childForm"></app-form-component-->
      <!--app-form-component></app-form-component-->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngIf="request.invalid"> Name is too short. </div>
        <input formControlName="request" placeholder="enter something">
        <button type="submit">Find</button>
     </form>
    </section>
  <section *ngIf="showRepos">
    <ul class="repositiories">
      <!--li>{{ repos | json }}</li-->
      <!--{{repos | json}}-->
      <li *ngFor="let repo of (repos.items)"> 
       <!--(repos | async | json)"-->
         <app-repo-element [repo]="repo" class="repository"></app-repo-element>
      </li>
    </ul>
  </section>
</main>



